// **************  mixins **************
@mixin button-basic {
    @include font-medium;
    font-size: rem(16px);
    height: 50px;
    width: 218px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    align-self: center;
    margin-bottom: 30px;
}

@mixin button-gradient {
    position: relative;
    background: $primary;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .25), 0 50px 25px -25px $secondary inset;
}

@mixin button-gradient-light {
    color: rgb(255, 255, 255);
    @include font-medium;
    font-size: rem(16px);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: $light-primary;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, .35), 0 50px 25px -25px $light-secondary inset;
    transition: opacity $base-duration ease-in-out;
}

@mixin empty-heart {
    -webkit-text-stroke: 1px black;
    -moz-text-stroke: 1px black;
    background: transparent;
    background-clip: text;
    opacity: 1;
    transform: scale(1);
    z-index: 0;

    &:hover+.heart--full {
        opacity: 1;
        transform: scale(1);
    }

    &:active+.heart--full {
        opacity: 1;
        transform: scale(1);
    }

}

@mixin full-heart {
    -webkit-text-stroke: 1px transparent;
    -moz-text-stroke: 1px transparent;
    background: linear-gradient(to bottom, $primary 0%, $secondary 100%);
    background-clip: text;
    opacity: 0;
    transform: scale(0);
    z-index: 10;
    transition: opacity $base-duration ease-in-out, transform $base-duration ease-in-out;

    &:hover {
        opacity: 1;
        transform: scale(1);
    }

    &:active {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes menu-parts {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@mixin menu-appearance {
    @for $n from 1 through 3 {
        section:nth-child(#{$n}) {
            animation: menu-parts $base-duration calc(($base-duration * 2) * $n) ease-in-out both;
        }
    }
}