@use 'sass:color';

// **************  colors **************
$grey-dark: #353535;
$grey-medium: #7E7E7E;
$grey-light2: #EAEAEA;
$grey-light1: #F6F6F6;

$green-dark: #008766;
$green-light: #99E2D0;

$primary: #9356DC;
$secondary: #FF79DA;

$light-primary: color.adjust($primary, $whiteness: 15%);
$light-secondary: color.adjust($secondary, $whiteness: 15%);

$gradient-angle: -5deg;

// **************  responsive **************
$medium: 768px;
$large: 1024px;

$medium-up: "only screen and (min-width: #{$medium})";
$large-up: "only screen and (min-width: #{$large})";

// **************  fonts  **************
$base-font-number: 16;
$base-font-size: #{$base-font-number}px;

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Sora:wght@100..800&display=swap');

@mixin shrikhand-regular {
    font-family: "Shrikhand", "Sora", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

@mixin roboto-regular {
    font-family: "Roboto", "Sora", sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin font-light {
    font-weight: 300;
}

@mixin font-medium {
    font-weight: 500;
}

@mixin font-bold {
    font-weight: 700;
}