.header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .15);
    position: relative;
    z-index: 10;

    &__nav {
        position: absolute;
        left: 20px;

        &--inactive {
            display: none;
        }

        &--active {
            display: block;
        }

        &--icon {
            color: $grey-dark;
            text-decoration: none;
        }
    }

    &__title {
        @include shrikhand-regular;
        font-size: rem(30px);
        justify-self: center;
    }
}

@media #{$medium-up} {
    .header {
        &__title {
            font-size: rem(35px);
        }
    }
}

@media #{$large-up} {
    .header {
        &__title {
            font-size: rem(40px);
        }
    }
}