.howto {
    background-color: white;
    padding: 30px 20px 40px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__content {
        width: 100%;
    }
    &__title {
        @include font-bold;
        font-size: rem(24px);
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__line {
        @include font-medium;
        font-size: rem(16px);
        display: flex;
        align-items: center;
        gap: 20px;
        background-color: $grey-light1;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, .15);
        border-radius: 20px;
        margin: 30px 0 30px 20px;
        padding: 10px 0 10px 30px;
        position: relative;

        &--grey {
            color: $grey-medium;
        }

        &--purple {
            color: $primary;
        }

        div {
            color: $grey-light1;
            font-size: rem(14px);
            background-color: $primary;
            position: absolute;
            left: -10px;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media #{$medium-up} {
    .howto {
        &__content {
            width: 100%;
        }

        &__list {
            display: flex;
        }

        &__line {
            width: 30%;
        }
    }
}

@media #{$large-up} {
    .howto {
        &__content {
            width: 90%;
        }

        &__list {
            gap: 20px;
            padding-right: 20px;
        }
    }
}

@media #{$xl-up} {
    .howto {
        &__content {
            width: 75%;
        }

        &__list {
            padding-right: 30px;
        }
    }
}