.restaurants {
    margin: 17.5px;
    @include font-bold;

    &__title {
        font-size: rem(24px);
    }

    &__article {
        @include flex-col-hcenter;
        margin-bottom: 18px;
        background-color: white;
        border-radius: 15px;
        position: relative;
        width: 100%;
    }

}

.resto-link {
    text-decoration: none;
    width: 100%;

    &__img {
        box-sizing: content-box;

        img {
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            max-height: 200px;
            width: 100%;
            object-fit: cover;
        }
    }

    &__new {
        @include font-medium;
        font-size: rem(14px);
        text-align: center;
        color: $green-dark;
        background-color: $green-light;
        border-radius: 2px;
        padding: 10px;
        width: 20%;
        max-width: 80px;

        position: absolute;
        right: 20px;
        top: 20px;

    }

    &__description {
        margin: 20px;
        color: black;
        height: 20%;

        h3 {
            font-size: rem(18px);
            margin: 0;
        }

        p {
            @include font-light;
            font-size: rem(17px);
            margin-top: 5px;
        }
    }
}

.resto-heart {
    position: absolute;
    right: 50px;
    bottom: 30px;
    padding: 2px;
    -webkit-text-fill-color: transparent;

    &--full {
        @include full-heart;
        z-index: 10;

        &:hover {
            @include appear-and-grows
        }
    }

    &--empty {
        @include empty-heart;
        z-index: 0;

        &:hover {
            opacity: 0;
        }

        &:hover+.resto-heart--full {
            @include appear-and-grows
        }
    }

}