.pink-button {
    @include button-basic;
    @include button-gradient;

    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        height: 50px;
        width: 218px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 200;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        content: "";
        @include button-basic;
        @include button-gradient-light
    }
}