.resto__heart {
    width: 22px;
    aspect-ratio: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 10px;
}

.heart {
    padding: 1px;
    position: absolute;
    bottom: -5px;
    right: 0;
    -webkit-text-fill-color: transparent;

    &--full {
        @include full-heart;
    }

    &--empty {
        @include empty-heart;
    }

}