@use 'sass:color';

body {
    background-color: $grey-light1;
    @include roboto-regular;
    font-size: $base-font-size;
    color: black;
    margin: auto;
    max-width: 1824px;
}

.home {
    width: 100%;
    max-width: 1824px;
    position: absolute;
    top: 0;
    margin: auto;
    opacity: 0;
    animation: show-loader 1500ms 1000ms both;
  }